<div class="wrapper">
  <div class="container"> 
      
      
      <h1 style="color:black;">About Us</h1>
       <p class="content_aboutus"><img  src="images/about_us.jpg"  class="img_aboutus"  alt="" />
      
           Welcome to Lakers Auto sales Company, family owned and operated and located in Farmington, Minnesota. For over 15 years, we&#39;ve brought wholesale cars to the public at competitive pricing. With over 15 years of experience, we look forward to finding the right car to meet your expectations.<br />
<br />
On our website, you can view our inventory, apply for financing, or even use our Vehicle Finder to have us locate the vehicle that you&#39;re looking for - even if it&#39;s not included in our online inventory.&nbsp;
<br /><br />
On our website, you can view our inventory, apply for financing, or even use our Vehicle Finder to have us locate the vehicle that you&#39;re looking for - even if it&#39;s not included in our online inventory.&nbsp;
      <br /><br />
On our website, you can view our inventory, apply for financing, or even use our Vehicle Finder to have us locate the vehicle that you&#39;re looking for - even if it&#39;s not included in our online inventory.&nbsp;</p>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
