


<div class="wrapper">
  <div class="container">
    <div class="content">
      
        
        <!--Slider frame-->
        <iframe src="Views/slider.html" height="390px" width="630px"></iframe>

        
        
        
    </div>
      
    <div class="column"  >
        
   <img src="img/timings.gif" width="300px" height="390px">
         </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="adblock">
    <div class="fl_left" ><a href="#"><img style="border:2px solid #666666;
    border-radius:13px;height:125px;width:470px;" src="images/cars/banner.jpg"    alt="" /></a></div>
    <div class="fl_right" ><a href="#"><img style="border:2px solid #666666;
    border-radius:13px;height:125px;width:470px;" src="images/cars/banner2.jpg"    alt="" /></a></div>
    <br class="clear" />
  </div>
 
</div>
    
 
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="hpage_latest">
        <h2>Lakers Auto Sales</h2>
        <ul>
          <li><img src="images/sell_car.jpg" width="190px" height="130px" alt="" />
            <p class="sub_titles"><a  href="#">Sell your car</a></p>
              <p>Make more money when you sell your car yourself. Choose a package and price that works for you.</p>
              <p>Post your ad so thousands of people can see it.</p>
            
          </li>
          <li><img src="images/trade_in.jpg" width="190px" height="130px" alt="" />
            <p class="sub_titles"><a href="#">Trade your car</a></p>
              <p>Get an Instant Cash Offer and trade in or sell your car at a local dealership.</p>
            <p>Get the current value of your car using our pricing calculator.</p>
            
          </li>
          <li class="last"><img src="images/repair_car.jpg" width="190px" height="130px" alt="" />
            <p class="sub_titles"><a href="#">Service your car</a></p>
              <p>We take care of your car servicing too. Lot cheaper than show room out side.</p>
            <p>Get service coupons and make appointments with local dealers.</p>
              
              
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div class="column">
      <div class="holder"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.1730291525323!2d-93.3477346848081!3d45.264512979099145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b3163a02c2018b%3A0x2914aa97d3a305ac!2s3138+162nd+Ln+NW%2C+Andover%2C+MN+55304!5e0!3m2!1sen!2sus!4v1447035038589" width="300" height="330" frameborder="0" style="border:0" allowfullscreen></iframe></div>
      
    </div>
    <br class="clear" />
  </div>
</div>
