<div class="wrapper">
  <div class="container"> 
      <style>
      .image_left {
                        float: left;
                        padding: 0 10px 10px 0;
                    }
      
      </style>
     
      
      
		<h1 style="color:black;">Extended Warranty Information - Protect Your Car</h1>
		
		<img class="image_left" src="http://i.telegraph.co.uk/multimedia/archive/02267/mot_2267332c.jpg" /><span style="font-size: 16px;">Why is it important to have an extended warranty?<br />
<br />
A wide variety of comprehensive extended warranty protection plans are available to the consumer. Why consider a protection plan? If you are like most car buyers, you did your best to ensure that you purchased a reliable vehicle. However, no matter how reliable your car may be, you know that one day it may break down. Although you cannot predict when it will happen, the repair cost will likely be yours to pay.<br />
<br />
Purchase an extended warranty protection plan for your car and repair costs are minimized. Why pay hundreds or even thousands of dollars for auto repairs when you may be able to pay just a small deductible? When purchasing an extended warranty, be certain to buy from a reputable company. Look for extras like the option to cancel the contract at any time, penalty-free monthly payment plans, towing service, rental car and trip-interruption benefits.<br />
<br />
If you are hoping to avoid costly repairs on your new or pre-owned vehicle and would like a free no-obligation quote on an auto warranty or extended service contract, we will gladly provide you with competitive extended warranty options.</span>


      
      
      
      
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
